body {
	background: #fff;
	font: 13px 'Lucida sans', Arial, Helvetica;
	color: #eee;
	text-align: center;
}

a {
	color: #ccc;
}

img {
	margin-top: 13%;
	align: center;
}

/*-------------------------------------*/
.cf:before,.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

/*-------------------------------------*/
.form-wrapper {
	width: 750px;
	padding: 9px;
	margin: 20px auto 50px auto;
	background: #444;
	background: rgba(0, 0, 0, .2);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 1px 0
		rgba(255, 255, 255, .2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 1px 0
		rgba(255, 255, 255, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 1px 0
		rgba(255, 255, 255, .2);
}

.form-wrapper input {
	width: 630px;
	height: 20px;
	padding: 10px 5px;
	float: left;
	font: normal 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #f9f9f9;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .8) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input:focus {
	outline: 0;
	background: #fff;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: normal;
}

.form-wrapper input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: normal;
}

.form-wrapper input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: normal;
}

.form-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 40px;
	width: 110px;
	font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	color: #fff;
	text-transform: uppercase;
	background: #ff0034;
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.form-wrapper button:hover {
	background: #e7002e;
}

.form-wrapper button:active,.form-wrapper button:focus {
	background: #e7002e;
}

.form-wrapper button:before {
	content: '';
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #ff0034 transparent;
	top: 12px;
	left: -6px;
}

.form-wrapper button:hover:before {
	border-right-color: #e7002e;
}

.form-wrapper button:focus:before {
	border-right-color: #e7002e;
}

.form-wrapper button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.top-bar-black {
   overflow-y: visible;
   background-clip: border-box;
   background-color: #2D2D2D;
   background-image: none;
   background-origin: padding-box;
   background-repeat: repeat-x;
   border-bottom-color: black;
   border-bottom-style: solid;
   border-bottom-width: 1px;
   border-left-color: black;
   border-right-color: black;
   border-top-color: black;
   color: #222;
   display: block;
   font-family: Arial, sans-serif;
   font-size: 24px;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   height: 29px;
   line-height: 27px;
   min-width: 750px;
   width: 100%;
   opacity: 1;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 990;
}

.top-bar-black a {
	background-position: 0 -102px;
	background-repeat: repeat-x;
	outline: none;
	text-decoration: none !important;
	font-size: 14px;
	padding-left: 10px;
	float:left;
}

.top-bar-black a:active, .top-bar-black a:hover {
   color: #fff;
}

.home {
	width: 750px;
	height: 450px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.footer {
	background-clip: border-box;
	border-top-color: #EBEBEB;
	border-top-style: solid;
	border-top-width: 1px;
	overflow-y: visible;
	background: #f1f1f1;
	background: -webkit-gradient(radial, 100 36, 0, 100 -40, 120, from(#fafafa),
	to(#f1f1f1) ), #f1f1f1;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	height: 40px;
	position: absolute;
	min-width: 750px;
	width: 100%;
	z-index: 985;
	bottom: 0;
	left: 0px;
	right: 0px;
	border-color: #e5e5e5;
	position: fixed;
	left: 0;
}

#footer {
	position: absolute;
	margin-top: -120px; /* negative value of footer height */
	height: 120px;
	clear: both;
	right: 0px;
	left: 0px;
	min-width: 100%;
}

.footer p {
	color: black;
	display: inline-block;
	text-align: center;
	font-color: grey;
	font-size: 12px;
}