body {
	background: #fff;
	font: 13px 'Lucida sans', Arial, Helvetica;
	color: #000;
	text-align: left;
}

a {
	font-size: 14px;
}

h4 {
	color: green;
	font: 10px 'Lucida sans', Arial, Helvetica;
	margin-top: 3px;
}

h3 {
	color: black;
	font: 13px 'Lucida sans', Arial, Helvetica;
	margin-top: -5px;
}

h5 {
	color: black;
	font: 16px 'Lucida sans', Arial, Helvetica;
	margin-top: -5px;
	width: 600px;
}

img {
	margin-top: 20px;
	margin-left: 15px;
	float: left;
	display: inline-block;
	float: left;
}
/*-------------------------------*/
.pageNumbers { /*text-align: center; */
	margin-bottom: 50px;
	margin-top: 20px;
	width: 700px;
	text-align: center;
}

.pageNumbers form {
	display: inline;
	padding: 0px;
	margin-right: 0px;
}

.pageNumbers a,.pageNumbers a:link {
	font-weight: normal;
	text-decoration: none;
	margin-right: 10px;
}
/*-------------------------------*/
.pageNumberImage {
	margin-top: 0px;
	padding-bottom: 25px;
	margin-right: -19px;
	margin-left: -2px;
	float: none;
}

.pageNumberImageFront {
	margin-top: 0px;
	padding-bottom: 25px;
	margin-right: 4px;
	float: none;
	margin-left: 2px;
}

.pageNumberImageEnd {
	margin-top: 0px;
	padding-bottom: 15px;
	margin-right: 0px;
	float: none;
	margin-left: -6px;
}

/*-------------------------------*/
.Next {
	margin-left: -38px;
	display: inline-block;
	text-decoration: bold;
	position: relative;
}

.Prev {
	margin-left: -70px;
	display: inline-block;
	text-decoration: bold;
	position: relative;
}

/*-------------------------------------*/
.topbar {
	overflow-y: visible;
	background: #f1f1f1;
	background: -webkit-gradient(radial, 100 36, 0, 100 -40, 120, from(#fafafa),
		to(#f1f1f1) ), #f1f1f1;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	height: 71px;
	position: absolute;
	top: 29px;
	left: 0px;
	min-width: 750px;
	width: 100%;
	z-index: 985;
}

.footer {
	background-clip: border-box;
	border-top-color: #EBEBEB;
	border-top-style: solid;
	border-top-width: 1px;
	overflow-y: visible;
	background: #f1f1f1;
	background: -webkit-gradient(radial, 100 36, 0, 100 -40, 120, from(#fafafa),
	to(#f1f1f1) ), #f1f1f1;
	border-bottom: 1px solid #666;
	border-color: #e5e5e5;
	height: 40px;
	position: absolute;
	min-width: 750px;
	width: 100%;
	z-index: 985;
	bottom: 0;
	left: 0px;
	right: 0px;
	border-color: #e5e5e5;
	position: fixed;
	left: 0;
}

.image-footer {
	background: white;
}

.footer p {
	color: black;
	text-align: center;
	font-color: grey;
	font-size: 12px;
}

html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow: auto;
	padding-bottom: 120px;
} /* must be same height as the footer */
#footer {
	position: absolute;
	margin-top: -120px; /* negative value of footer height */
	height: 120px;
	clear: both;
	right: 0px;
	left: 0px;
	min-width: 100%;
}

/*Opera Fix*/
body:before { /* thanks to Maleika (Kohoutec)*/
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px; /* thank you Erik J - negate effect of float*/
}

/*-------------------------------------*/
.results {
	margin-top: 155px;
	margin-left: 30px;
	max-width: 50%;
}

.image-results {
   max-width: 100%;
}

/*-------------------------------------*/
.cf:before,.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	zoom: 1;
}

/*-------------------------------------*/
.form-wrapper {
	width: 535px;
	height: 16px;
	padding: 0px;
	margin: 19px 15px 50px 20px;
	background: transparent;
	background: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	/*-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 1px 0
		rgba(255, 255, 255, .2);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 1px 0
		rgba(255, 255, 255, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset, 0 1px 0
		rgba(255, 255, 255, .2); */
	float: left;
	display: inline-block;
}

.form-wrapper input {
	width: 430px;
	height: 16px;
	padding: 10px 5px;
	float: left;
	font: normal 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 0;
	background: #fff;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input:focus {
	outline: 0;
	background: #fff;
	border: 1px ridge #4d90fe;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
	box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: normal;
}

.form-wrapper input:-moz-placeholder {
	color: #999;
	font-weight: normal;
	font-style: normal;
}

.form-wrapper input:-ms-input-placeholder {
	color: #999;
	font-weight: normal;
	font-style: normal;
}

.form-wrapper button {
	overflow: visible;
	position: relative;
	float: right;
	border: 0;
	padding: 0;
	cursor: pointer;
	height: 36px;
	line-height: 36px;
	width: 68px;
	font: bold 14px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	border: 1px solid #3079ED;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	margin-right: 5px;
	background-color: #4d90fe;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe),
		to(#4787ed) );
	background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -ms-linear-gradient(top, #4d90fe, #4787ed);
	background-image: -o-linear-gradient(top, #4d90fe, #4787ed);
	background-image: linear-gradient(top, #4d90fe, #4787ed);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4d90fe',
		EndColorStr='#4787ed' );
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.form-wrapper button img {
	padding-left: 10px;
	margin-top: 0px
}

.form-wrapper button:hover {
	background-color: #357ae8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe),
		to(#357ae8) );
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
}

.form-wrapper button:active,.form-wrapper button:focus {
	background-color: #357ae8;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe),
		to(#357ae8) );
	background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -moz-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -ms-linear-gradient(top, #4d90fe, #357ae8);
	background-image: -o-linear-gradient(top, #4d90fe, #357ae8);
	background-image: linear-gradient(top, #4d90fe, #357ae8);
}

.form-wrapper button:before { /*content: '';*/
	position: absolute;
	border-width: 8px 8px 8px 0;
	border-style: solid solid solid none;
	border-color: transparent #ff0034 transparent;
	top: 12px;
	left: -6px;
}

.form-wrapper button:hover:before {
	border-right-color: #e7002e;
}

.form-wrapper button:focus:before {
	border-right-color: #e7002e;
}

.form-wrapper button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.arrow-right {
	font-size: 20px;
	padding-left: 105%;
	margin-bottom: -35px;
	margin-top: 0px;
}

.arrow-right a {
	text-decoration: none;
	font-weight: normal;
	color: #DCDCDC;
	font-size: 30px;
}

.arrow-right a:hover {
	color: grey;
}

#livepreview_dialog {
	padding: 0px;
	height: 200px;
	width: 300px;
	background-color: #fff;
	background-image: url('../img/icon_loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	position: absolute;
	border: 0;
	padding: 0;
}

.stub {
	background-clip: border-box;
	background-color: white;
	background-image: none;
	background-origin: padding-box;
	border-bottom-color: #EBEBEB;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	color: #666;
	display: block;
	font-family: arial, sans-serif;
	font-size: 13px;
	height: 40px;
	line-height: 36px;
	margin-bottom: 0px;
	margin-left: 0px;
	left: 0px;
	right: 0px;
	margin-right: 0px;
	margin-top: 35px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: absolute;
	min-width: 750px;
	width: 100%;
	z-index: 102;
	top: 65px;
}

.stub-focus {
	background-clip: border-box;
	background-color: transparent;
	background-image: none;
	background-origin: padding-box;
	border-bottom-color: #DD4B39;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	color: #DD4B39;
	cursor: pointer;
	display: inline-block;
	float: none;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 36px;
	line-height: 36px;
	margin-bottom: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 2px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	position: static;
	white-space: nowrap;
	width: 45px;
	z-index: auto;
	text-decoration: none !important;
	text-align: center;
	margin-left: 178px;	
}

.stub-regular {
   background-clip: border-box;
   background-color: transparent;
   background-image: none;
   background-origin: padding-box;
   color: grey;
   cursor: pointer;
   display: inline-block;
   float: none;
   font-family: arial, sans-serif;
   font-size: 13px;
   font-weight: bold;
   height: 36px;
   line-height: 36px;
   margin-bottom: 0px;
   margin-left: 8px;
   margin-right: 8px;
   margin-top: 2px;
   padding-bottom: 0px;
   padding-left: 8px;
   padding-right: 8px;
   padding-top: 0px;
   position: static;
   white-space: nowrap;
   width: 45px;
   z-index: auto;
   text-decoration: none !important;
   text-align: center;
   font-weight: normal;
}

.stub-regular:hover {
	color: black;
}

.top-bar-black {
	overflow-y: visible;
	background-clip: border-box;
	background-color: #2D2D2D;
	background-image: none;
	background-origin: padding-box;
	background-repeat: repeat-x;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: black;
	border-right-color: black;
	border-top-color: black;
	color: #222;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 29px;
	line-height: 27px;
	min-width: 750px;
	width: 100%;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 990;
}

.top-bar-black a {
	background-repeat: repeat-x;
	outline: none;
	text-decoration: none !important;
	font-size: 14px;
	padding-left: 10px;
	float: left;
	color: silver;
	font-weight: bold;
}

.top-bar-black a:active,.top-bar-black a:hover {
	color: #fff;
}